@tailwind base;
@tailwind components;
@tailwind utilities;

@import "antd/dist/reset.css";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@font-face {
  font-family: Regular;
  src: url("./fonts/IRANYekanXFaNum-Regular.woff") format("woff");
}

@font-face {
  font-family: Light;
  src: url("./fonts/IRANYekanXFaNum-Light.woff") format("woff");
}

@font-face {
  font-family: Bold;
  src: url("./fonts/IRANYekanXFaNum-Bold.woff") format("woff");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
