@tailwind base;
@tailwind components;
@tailwind utilities;

@import "antd/dist/reset.css";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "../styles/ant-custom-styles.module.css";

@font-face {
  font-family: Regular;
  src: url("./fonts/IRANYekanXFaNum-Regular.woff") format("woff");
}

@font-face {
  font-family: Light;
  src: url("./fonts/IRANYekanXFaNum-Light.woff") format("woff");
}

@font-face {
  font-family: Medium;
  src: url("./fonts/IRANYekanXFaNum-Medium.woff") format("woff");
}

@font-face {
  font-family: Bold;
  src: url("./fonts/IRANYekanXFaNum-Bold.woff") format("woff");
}

:root {
  --primary1: #1d313b;
  --primary2: #416e86;
  --secondary: #50675e;
  --secondary-50: #f8fafb;
  --call-to-action: #ff844b;
  --call-to-action-50: #ff844b80;
  --call-to-action-disable: #ffe0d2;
  --backGround: #fbfeff;
  --highliter: #ffffff;
  --Alert: #ff0000;
  --gold: #edf10c;
  --social-telegram: #27a7e7;
  --social-whatsapp: #4ecb5c;
  --skeleton-background: #e5e7eb;
  --main-light-silver: #e7e8e9;
  --secondary2: #e4e7f4;
  --primary: #202224;
  --secondary1: #37a7bb;
  --sec1-hover: #9bd3dd;
  --Secondary2: #1e9c51;
  --Secondary: #50675e;

  --sec2-hover: #cdd0dc;
  --CTA-Focus: #0e843e;
  --cta-hover: #173461;
  --focus: #48bb78;
  --disable: #d3dbe8;
  --highlighter: #ffffff;
  --highlighter-hover: #edf0f8;
  --BG: #f2f6fc;
  --alert: #c03030;
  --alert-hover: #f6e2e2;
  --success: #60c213;
  --success-hover: #e6f1e3;
  --row1: #ffffff;
  --row2: #edeff7;
  --row-seen: #f5f6fa;
  --chart1: #84d2f6;
  --chart2: #ff5a5a;
  --chart3: #15557c;
  --Tritary: #adbab2;
  --Focus: "#409FA6";
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

.animate-flicker {
  animation: fadeIn 0.8s infinite alternate;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #1e9c51 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #1e9c51);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}

button:active {
  transform: scale(0.95);
}

.border-gradient-secondary {
  background: linear-gradient(#f2f6fc, #f2f6fc) padding-box,
    linear-gradient(
        90deg,
        transparent 5%,
        rgba(10, 156, 81, 1) 50%,
        transparent 95%
      )
      border-box;

  border-bottom: 2px solid transparent;
  border-image: linear-gradient(
      90deg,
      transparent 5%,
      rgba(30, 156, 81, 1) 50%,
      transparent 95%
    )
    1;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.custome-scrool-bar::-webkit-scrollbar {
  background-color: var(--BG);
  width: 4px;
  opacity: 0;
}

.custome-scrool-bar::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--Secondary2);
}
.ant-drawer {
  position: fixed;
  inset: 0;
  max-width: 470px;
  margin: auto;
  z-index: 1000;
  pointer-events: none;
  color: rgba(0, 0, 0, 0.88);
}
.ant-modal-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ant-modal-wrap .ant-modal {
  height: max-content !important;
  max-height: 95dvh !important;
  width: 90vw !important;
  margin: auto !important;
  top: auto !important;
}

.ant-modal-wrap .ant-modal:firstchild {
  height: 100%;
}

.ant-tabs-nav {
  position: sticky !important;
  top: 0;
  z-index: 2;
  background-color: var(--BG);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
